{% extends "main.html" %}
{% block content %}
		
		<div class="row">
			<div class="col-md-12">
				<hr>
				<div class="jumbotron-main text-center">
					<i class="fa fa-child" aria-hidden="true"></i><i class="fa fa-paw" aria-hidden="true"></i> animal adoption network
				</div>
			</div>
		</div>


        <div class="row">
        	<div class="col-md-12">
				<div class="cover-images">
				{% for item in items %}
	            	<a href="{{ url_for('showCategoryItem', category_id=item.category_id, item_name=item.name) }}"><img src="{{ item.image_url }}"></a>
	            {% endfor %}
	            </div>
	        </div>
        </div>

{% endblock %}


