{% extends "main.html" %}
{% block content %}
		
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					{% for category in catalog %}
					<ul>
						<li><a href="{{ url_for('showCategory', category_name=category.name) }}"><span class="glyphicon glyphicon-dog"></span>{{ category.name }}</a></li>
					</ul>
					{% endfor %}
				</div>
			</div>
		</div>


        <div class="row">
			<div class="cover-images">
			{% for item in items %}
            	<a href="{{ url_for('showCategoryItem', category_id=item.category_id, item_name=item.name) }}"><img src="{{ item.image_url }}"></a>
            {% endfor %}
            </div>
        </div>

{% endblock %}


