{% extends "main.html" %}
{% block content %}

        <!-- Page Content -->
        <div class="row">
        	<div class="col-md-12"> 
        		<div class="well text-center"> 
        			<h2>
                        {{ category.name }} Shelter
                    </h2>
                    <a href="{{ url_for('addCategoryItem', category_name=category.name) }}"><i class="fa fa-plus"></i> add</a>
        		</div>

                <div class="row">
          			{% for item in items %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{ item.image_url }}" class="img-round">
                            <div class="caption">
                                <h4><a href="{{ url_for('showCategoryItem', category_id=item.category_id, item_name=item.name) }}">{{ item.name }}</a>
                                </h4>
                                <p>{{ item.description }}</p>
                        		<p class="pull-right">
                                    {% if item.user_id == login_session['user_id'] %}
                                        <a href="{{ url_for('editCategoryItem', category_name=category.name, item_name=item.name) }}"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="{{ url_for('deleteCategoryItem', category_name=category.name, item_name=item.name) }}"><span class="glyphicon glyphicon-trash"></span></a>
                                    {% else %}
                                      
                                    {% endif %}
	                        	</p>
                        	</div>
                            <p>
                                <span class="glyphicon glyphicon-dog"></span>
                                <span class="glyphicon glyphicon-dog"></span>
                                <span class="glyphicon glyphicon-dog"></span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
	        </div>
        </div>

{% endblock %}